@model IEnumerable<WebApplication2.Models.StudentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>List of Students</h1>

<p>
    <a asp-action="Create" asp-controller="Student">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                StudentId
            </th>
            <th>
                FullName
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.StudentId)
            </td>
            <td>
                @(item.FullName)
            </td>
            <td>
                @(item.Email)
            </td>
            <td>
                @(item.Phone)
            </td>
            <td>
                @*(display text, action name, url id)*@
                @Html.ActionLink("Edit", "Edit", new {  id=item.StudentId  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentId  })
            </td>
        </tr>
}
    </tbody>
</table>
